body{
    margin: 0;
    padding: 0;
}

.div1{
    width: 200px;
    height: 200px;
    background-color: red;
    float: left;
    margin-left: 50px;
    
}

.div2{
    width: 200px;
    height: 200px;
    background-color: green;
    float: left;
    margin-left: 10px;
}

.one{
    float: left;
    width: 250px;
    margin-left: 20px;
}

.two{
    float: right;
    width: 250px;
}